<div class="authorization">

  <div class="authorization__form">
    <div class="form">
      <div class="form__header">
        <img src="assets/images/logo.png" alt="Название логотипа">
      </div>
      <div class="form__content">
       <div class="content">
         <div class="content__title"><h3>Войти в личный кабинет</h3></div>
         <div class="tip-info tip-info_succes">Используйте логин <b>user</b> и пароль <b>user</b> для входа в личный кабинет.</div>
       </div>
      </div>
      <div class="form__footer">
        Нет регистрационных данных? <a href="#">Регистрация</a>
      </div>
    </div>
  </div>

  <div class="authorization__welcome">
    321
  </div>

</div>




