.authorization
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  &__form
    width: 70rem
    padding: 2rem 11rem
  &__welcome
    flex: 1
    width: calc(100% - 70rem)
    padding: 5rem 10rem 10rem 10rem
    background-attachment: fixed
    background-size: cover
