<div class="authorization">

  <div class="authorization__form">
    <div class="form">
      <div class="form__header">
        <img src="assets/images/logo.png" alt="Название логотипа">
      </div>
      <div class="form__content">
       <div class="content">
         <div class="content__title"><h3>Войти в личный кабинет</h3></div>
         <div class="tip-info tip-info_succes">Используйте логин <b>user</b> и пароль <b>user</b> для входа в личный кабинет.</div>
         <div class="content__form">

           <form class="example-form">
               <mat-form-field class="example-full-width">
                 <input matInput placeholder="Favorite food" value="Sushi">
               </mat-form-field>
           </form>
         </div>
       </div>
      </div>
      <div class="form__footer1">
        Нет регистрационных данных? <a href="#">Регистрация</a>
      </div>
    </div>
  </div>

  <div class="authorization__welcome" style="background-image:url('assets/images/welcome-bg.jpg');">
    321
  </div>

</div>




