<div class="authorization">

  <div class="authorization__form">

    <div class="form">
      <div class="form__header">
        <a href="#" class="logo"><img src="assets/images/logo.png" alt="Название логотипа"></a>
      </div>
      <div class="form__content">

        <div class="content">

          <div *ngIf="showSigIn" class="content__signin js-animateFlip">
            <div class="content__title"><h3>Войти в личный кабинет</h3></div>
            <div class="tip-info tip-info_success">Используйте логин <b>user</b> и пароль <b>user</b> для входа в личный
              кабинет.
            </div>
            <div class="content__form">
              <form>
                <label class="form-group">
                  <input placeholder="Логин" type="email" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <label class="form-group _last-child">
                  <input placeholder="Пароль" type="email" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <div class="display-flex">
                  <label class="g-checkbox">
                    <input type="checkbox">
                    <span class="g-checkbox__title">Remember me</span>
                  </label>
                  <a href="#" class="link link_line">Forget Password ?</a>
                </div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn_purple">Войти</a>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="showSigOut" class="content__signout js-animateFlip">
            <div class="content__title"><h3>Забыли пароль?</h3></div>
            <div class="tip-info tip-info_succes">Введите Вашу почты для восстановления пароля:
            </div>
            <div class="content__form">
              <form>
                <label class="form-group">
                  <input placeholder="Эл. почта" type="email" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <div class="display-flex">
                  <label class="g-checkbox">
                    <input type="checkbox">
                    <span class="g-checkbox__title">Remember me</span>
                  </label>
                  <a href="#" class="link link_line">Forget Password ?</a>
                </div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn_purple">Войти</a>
                  <a href="#" class="btn btn_purple btn_purple-border">Войти</a>
                </div>
              </form>
            </div>
          </div>

          <div *ngIf="showForgotPass" class="content__signpass js-animateFlip">
            <div class="content__title"><h3>Регистрация</h3></div>
            <div class="tip-info tip-info_succes">Введите Вашу почты для восстановления пароля:
            </div>
            <div class="content__form">
              <form>
                <label class="form-group">
                  <input placeholder="Имя" type="text" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <label class="form-group">
                  <input placeholder="Эл. адрес" type="text" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <label class="form-group">
                  <input placeholder="Пароль" type="text" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <label class="form-group _last-child">
                  <input placeholder="Повторите пароль" type="text" value="" class="form-control">
                  <span class="form-alert">Данный логин не найден!</span>
                </label>

                <div class="display-flex">
                  <label class="g-checkbox">
                    <input type="checkbox">
                    <span class="g-checkbox__title">Я принимаю <a href="#">условия соглашения</a></span>
                  </label>
                </div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn_purple">Войти</a>
                  <a href="#" class="btn btn_purple btn_purple-border">Войти</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="form__footer">
        Нет регистрационных данных? <a href="#" class="link link_line" (click)="showSignOut($event)">Регистрация</a>
      </div>
    </div>
  </div>

  <div class="authorization__welcome" style="background-image:url('http://bustamanteinternational.com/wp-content/uploads/2017/09/33.jpg');">
    <div class="welcome-middle">
      <h1 class="title">Присоединяйтесь к нашей команде!</h1>
      <p>Полный учет деятельности для фриланс специалистов всех категорий!
        Всевозможные графики, таблицы, диаграммы и многое другое ждет тебя!</p>
      <a href="#" class="btn btn-white">Вводный урок</a>
    </div>
  </div>

</div>




