/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
@import "http://fonts.fontstorage.com/import/opensans.css"

//	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html
  font-size: 14px

html, body
  height: 100%

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: "Open Sans", sans-serif
  overflow-x: hidden
  opacity: 1
  font-weight: 300

a
  color: #5867dd
  text-decoration: none
  background-color: transparent
a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea
  touch-action: manipulation

input, input:focus, input:active
  outline: none

img
  vertical-align: middle
  border-style: none

.full-width
  width: 100%

.display-flex
  display: flex
  flex-wrap: wrap

.btn-wrapper
  margin: 3rem 0 3rem 0
  text-align: center

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0.5rem
  font-family: inherit
  font-weight: 500
  line-height: 1.2
  color: inherit

h1, h2, h3, h4, h5, h6
  margin-top: 0

p
  margin-top: 0
  margin-bottom: 1rem

.tip-info
  padding: 0.85rem 1.5rem
  border-radius: 4px
  background-color: #fff
  margin-bottom: 1rem
  border: 2px solid transparent
  position: relative
  b
    font-weight: 500
  &_success
    background-color: #ffffff
    border-color: #34bfa3
    color: #34bfa3
    font-weight: 400

.form-control
  display: block
  width: 100%
  padding: 0.65rem 1rem
  font-size: 1rem
  line-height: 1.25
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  &:focus
    &:-moz-placeholder,
    &::-moz-placeholder
      color: #716aca
      opacity: 1
    &::-webkit-input-placeholder
      color: #716aca
.form-alert
  display: none
  width: 100%
  text-align: left
  margin-top: 0.2rem
  color: #f4516c
  font-weight: 400
  font-size: 0.85rem

.form-group
  &.has-error
    .form-alert
      display: block
    .form-control
      color: #f4516c
      &:-moz-placeholder,
      &::-moz-placeholder
        color: #f4516c
        opacity: 1
      &::-webkit-input-placeholder
        color: #f4516c

.g-checkbox
  display: inline-block
  position: relative
  padding-left: 30px
  margin-bottom: 10px
  cursor: pointer
  font-size: 1rem
  transition: all 0.3s
  color: #575962
  input
    position: absolute
    z-index: -1
    opacity: 0
    & + span
      display: inline-block
      &:before
        content: ''
        position: absolute
        top: 2px
        left: 0
        height: 18px
        width: 18px
        background: none
        transition: all 0.3s
        border-radius: 3px
        border: 1px solid #bdc3d4
      &:after
        content: ''
        position: absolute
        display: none
        top: 5px
        left: 7px
        width: 5px
        height: 10px
        border-width: 0 2px 2px 0 !important
        transform: rotate(45deg)
        border: solid #9816f4
    &:checked + span
      &:before
        border-color: #9816f4
      &:after
        display: block

.link
  text-decoration: none
  position: relative
  display: inline-block
  color: #716aca
  font-size: 1rem
  &:after
    display: block
    content: ''
    position: absolute
    bottom: 0
    top: 1rem
    left: 0
    width: 0%
    transition: width 0.3s ease
  &:hover
    color: #5f57c3
    &:after
      border-bottom: 1px solid #5f57c3
      opacity: 0.3
      filter: alpha(opacity=30)
      width: 100%

.btn
  display: inline-block
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  border: 1px solid transparent
  padding: 0.65rem 1rem
  font-size: 1rem
  line-height: 1.25
  border-radius: 0.25rem
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  font-size: 1rem
  font-weight: 400
  border-radius: 60px
  &_purple
    background-color: #7c0acd
    border-color: #7509c1
    color: #fff
    padding: 1.2rem 3rem
    box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19)
    &:hover
      box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.36)
    &:focus
      color: #fff
    &:active
      color: #fff
      background-color: #7c0acd
      border-color: #7509c1
      transform: translateY(2px)
    &-border
      background-color: transparent
      color: #9816f4
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      &:focus
        color: #9816f4
      &:hover
        background-color: #7c0acd
        color: #fff
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none

  &-white
    background-color: #fff
    border-color: #fff
    color: #000
    padding: 1.2rem 3rem
